:root {
    --turquoise: rgb(99, 180, 184);
    --white: rgb(230, 230, 230); 
    --card-background: rgb(240, 240, 240);
    --black: rgb(45, 45, 45);
    --background: rgb(235, 235, 235);
    --maroon: #b00000;
  }